            <!-- Page Headings Start -->
            <div class="row justify-content-between align-items-center mb-10">

                <!-- Page Heading Start -->
                <div class="col-12 col-lg-auto mb-20">
                    <div class="page-heading">
                        <h3>داشبورد</h3>
                    </div>
                </div>
                <!-- Page Heading End -->


            </div>
            <!-- Page Headings End -->

            <!-- Top Report Wrap Start -->
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12 mb-30">
                    <div class="top-report">

                        <!-- Head -->
                        <div class="head">
                            <h4>تعداد کاربران</h4>
                            <a href="#" class="view"><i class="zmdi zmdi-eye"></i></a>
                        </div>

                        <!-- Content -->
                        <div class="content">
                            <h2>{{totalUsers}}</h2>
                            <h5>کاربر</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-30">
                    <div class="top-report">

                        <!-- Head -->
                        <div class="head">
                            <h4>تعداد مطالب</h4>
                            <a href="#" class="view"><i class="zmdi zmdi-eye"></i></a>
                        </div>

                        <!-- Content -->
                        <div class="content">
                            <h2>{{totalPosts}}</h2>
                            <h5>مطلب</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-30">
                    <div class="top-report">

                        <!-- Head -->
                        <div class="head">
                            <h4>تعداد دیدگاه ها</h4>
                            <a href="#" class="view"><i class="zmdi zmdi-eye"></i></a>
                        </div>

                        <!-- Content -->
                        <div class="content">
                            <h2>{{totalComments}}</h2>
                            <h5>دیدگاه</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-30">
                    <div class="top-report">

                        <!-- Head -->
                        <div class="head">
                            <h4>تعداد بازدید</h4>
                            <a href="#" class="view"><i class="zmdi zmdi-eye"></i></a>
                        </div>

                        <!-- Content -->
                        <div class="content">
                            <h2>{{totalVisits}}</h2>
                            <h5>بازدید</h5>
                        </div>
                    </div>
                </div>

                <div class="col-xlg-6 col-md-6 col-12 mb-30">
                    <div class="top-report m-0 p-0">
                        <div class="px-4 py-4">
                            <div class="head">
                                <h4>آخرین دیدگاه ها</h4>
                                <a href="#" class="view"><i class="zmdi zmdi-eye"></i></a>
                            </div>
                        </div>
                        <div class="col-12 mb-30">
                            <div class="box">
                                <div class="box-body m-0 p-0">
                                    <ul class="list-group m-0 p-0">
                                        {{#each latestComments}}
                                        <li class="list-group-item mb-3">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">{{this.name}}</h5>
                                                <small>{{this.relativeTime}}</small>
                                            </div>
                                            <p class="mb-1">
                                                {{this.content}}
                                            </small>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-xlg-6 col-md-6 col-12 mb-30">
                    <div class="top-report m-0 p-0">
                        <div class="px-4 py-4">
                            <div class="head">
                                <h4>پیش نویس سریع</h4>
                            </div>
                        </div>
                        <div class="col-12 mb-30">
                            <div class="row mbn-15">
                                <form action="" method="post" class="form-horizontal w-100">
                                    <div class="col-12 mb-15"><input type="text" class="form-control" placeholder="عنوان"></div>
                                    <div class="col-12 mb-15"><textarea class="form-control" placeholder="محتوای مطلب"></textarea></div>

                                    <button class="button button-success m-3"><i class="zmdi zmdi-check"></i><span>ذخیره پیش‌نویس</span></button>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Report Wrap End -->