<!--pagination-->
<div class="pagination justify-content-center">
  <a href="/?page={{pagination.prevPage}}" class="btn btn-dark {{pagination.isPrevPageDisabled}}"><i class="fa fa-angle-left"></i></a>
  <div class="h6 mt-2 mx-4">
    {{pagination.currentPage}} از {{pagination.totalPages}}
  </div>
  <a href="/?page={{pagination.nextPage}}" class="btn btn-dark {{pagination.isNextPageDisabled}}"><i class="fa fa-angle-right"></i></a>
</div>
<!--pagination end-->