<!-- Page Headings Start -->
<div class="row justify-content-between align-items-center mb-10">

  <!-- Page Heading Start -->
  <div class="col-12 col-lg-auto mb-20">
    <div class="page-heading">
      <h3 class="title">کاربر ها <span>/ همه کاربر ها</span></h3>
    </div>
  </div>
  <!-- Page Heading End -->

</div>
<!-- Page Headings End -->
<div class="col-md-12 mb-30">
  <div class="box">
    {{#if deleteUserResult}} 
        <div class="alert alert-{{deleteUserResult.success}}" role="alert">
            <strong>{{deleteUserResult.message}}</strong>
            <button class="close" data-dismiss="alert"><i class="zmdi zmdi-close"></i></button>
        </div>
    {{/if}}
    {{#if updateSuccess}} 
        <div class="alert alert-success" role="alert">
            <strong>{{updateSuccess}}</strong>
            <button class="close" data-dismiss="alert"><i class="zmdi zmdi-close"></i></button>
        </div>
    {{/if}}
    {{#if createUserSuccess}} 
        <div class="alert alert-success" role="alert">
            <strong>{{createUserSuccess}}</strong>
            <button class="close" data-dismiss="alert"><i class="zmdi zmdi-close"></i></button>
        </div>
    {{/if}}
    <div class="box-head">
       <h4 class="title">
         <a class="button button-icon-right button-primary text-light" href="./users/create">
         <span><i class="zmdi zmdi-account"></i>کاربر جدید</span>
         </a>
         </h4>
    </div>
    <div class="box-body">
      <div class="table-responsive">
        <table class="table table-striped table-hover vertical-middle">
          <thead>
            <tr>
              <th>شماره کاربر</th>
              <th>نام</th>
              <th>ایمیل</th>
              <th>نقش کاربری</th>
              <th>تاریخ ثبت نام</th>
              <th>عملیات</th>
            </tr>
          </thead>
          <tbody>
            {{#each allUsers}}
              <tr>
                <td>{{this.ID}}</td>
                <td>{{this.full_name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.readableRole}}</td>
                <td>{{this.persian_created_at}}</td>
                <td>
                    <a
                      class="edit button button-box button-xs button-info"
                      href="/admin/users/edit/{{this.ID}}"
                      title="ویرایش"
                    ><i class="zmdi zmdi-edit"></i></a>
                    <a
                      class="delete button button-box button-xs button-danger"
                      href="/admin/users/delete/{{this.ID}}"
                      title="حذف"
                    ><i class="zmdi zmdi-delete"></i></a>
                </td>
            </tr>
            {{/each}}
     
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>